body{
    background-color: #242423;
  }
  span:before{
      content: 'Builder';
      animation: animate infinite 4s;
  }
  @keyframes animate{
      0%{
          content: 'Musician';
      }
      20%{
          content: 'Singer';
      }
      40%{
          content: 'Song Writer';
      }
      60%{
          content: 'Inspiration';
      }
      80%{
          content: 'Creative';
      }
      100%{
          content: 'Visionary';
      }
  }
  header{
    font-size: 50px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: #DCED31;
  }
  .tour-header{
      font-size: 35px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    color: white;
  }
  p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    text-align: left;
  }
  mark{
    background-color: #DCED31;
  }
  .soldout{
      background-color: white;
  }
  a{
    font-size: 25px;
    color: #DCED31;
    text-decoration: none;
    padding-left:20px;
    letter-spacing: 5px;
  }
  a:hover{
      text-decoration: underline;
  }
  .described{
      text-align: center;
  }
  .info{
      text-align: center;
  }
  .datediv{
      text-align: center;
  }
  .date-soldout{
      text-decoration: line-through;
  }
  .date-soldout:hover{
      text-decoration: line-through;
  }
  h1{
      text-align: center;
      font-size: 50px;
  }
  .bio{
      padding-left: 100px;
      padding-right: 100px;
  }
  
.boardz {
    display: flex;
    justify-content: space-between;
    flex: auto;
}
.boardz ul {
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0px 4px 0px;
    flex: 1;
}
.boardz ul li {
    margin: 8px 4px 8px 4px;
    padding: 12px;
    flex: auto;
    background-color: #ffffff;
    border: 1px solid #737373;
}
.boardz ul h1 {
    margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}
@media screen and (max-width: 800px) {
    .boardz {
        flex-direction: column;
    }
    .boardz ul li:last-child {
        margin-bottom: 0;
    }
    .boardz ul {
        margin: 0;
        padding: 0;
    }
}
.fitted ul {
    display: flex;
}
.fitted ul li {
    margin: 4px 4px 4px 4px !important;
}
.boardz img {
    max-width: 100%;
    height: auto;
}
.beautiful li {
    border: none !important;
    border-radius: 10px;
    background-color: #f1f1f1 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.beautiful li:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.top-title{
  letter-spacing: 2px;
  text-align: left;
}